.register-card {
    margin-top: 28px;
    .box {
        @media screen and (max-width: 1366px) {
            width: 40%;
        }
        @media screen and (max-width: 1200px) {
            width: 45%;
        }
        @media screen and (max-width: 1024px) {
            width: 50%;
        }
        @media screen and (max-width: 900px) {
            width: 55%;
        }
        @media screen and (max-width: 768px) {
            width: 60%;
        }
        @media screen and (max-width: 600px) {
            width: 60%;
        }
        @media screen and (max-width: 480px) {
            width: 65%;
        }
        @media screen and (max-width: 320px) {
            width: 70%;
        }
        background: rgba(123,31,62, 0.4);
        .full-width-input {
            width: 100%;
        }
        .card-header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .btn-block {
            color: white;
            border-color: white;
        }
        .full-width{
                width: 100%;
        }
    }
}